{% extends "layout.html" %}

{% block content %}

<script type="module" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>
    let questionData = {{ questionData | tojson }};
    let varietiesQuizScore = {{ varietiesQuizScore | tojson }};
    let cookingQuizScore = {{ cookingQuizScore | tojson }};
    let maxVarScore = {{ maxVarScore | tojson }};
    let maxCooScore = {{ maxCooScore | tojson }};
    let varietiesQuizCorrectAnswers = {{ varietiesQuizCorrectAnswers | tojson }};
    let cookingQuizCorrectAnswers = {{ cookingQuizCorrectAnswers | tojson }};
    let varietiesQuizTaken = {{ varietiesQuizTaken | tojson }};
    let cookingQuizTaken = {{ cookingQuizTaken | tojson }};
    let quizId = {{ quizId | tojson }};
    console.log('quiz')
</script>

<div class="container" id="main"></div>

{% endblock %}
